#customize-body {
  font-family: "Open Sans", sans-serif;
  color: #38717B;
  font-weight: 100;
}

#customize-body select {
  font-weight: 100;
  color: #38717B;
  }

#customize-h1 {
  font-weight: 100;
  box-shadow: 5px, 5px 10px rgba (0,0,0,.3);
  margin-bottom: 30px;
}

#customize-body h2{
  font-weight:100;
  
} 

#news-source {
  border-bottom: solid 1px #38717B;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-top: solid 1px #38717B;
  margin-top: 10px;
}
#toggle-rain {
  border-bottom: solid 1px #38717B;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
#location_search{
  border-bottom: solid 1px #38717B;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
#days-display{
  border-bottom: solid 1px #38717B;
  padding-bottom: 10px;
  margin-bottom: 10px;
}